<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I am a PhD student at <a href="{{ centreborelli.fr }}">Centre Borelli</a>, in École Normale Supérieure Paris-Saclay, under the supervision of Pr. Jean-Michel Morel, Dr. Miguel Colom and Pr. Pablo Muse. Here, I am part of the Workgroup for Signal and Image Processing. 
            </p>
            <p class="paragraph-text justify-text">
                I earned my Master's degree at the Universidad de la República in Montevideo, Uruguay, in July 2019. I wrote my dissertation under the supervision of Pr. Elvio Accinelli. You can access a copy of my dissertation here. I got my B.S. in Mathematics in 2017, under the supervision of Dr. Jorge Iglesias, at the School of Sciences of the Universidad de la República, in Montevideo, Uruguay. I also earned my B.S. in Economics in 2016 from the School of Economics of the same University.
            </p>
            <p class="paragraph-text justify-text">
                I play soccer for CA Paris 14.
            </p>
        </div>
    </section>
</div>
