<div class="section-wrapper">
    <section class="section agregses" id="agregses">
        <div id="agregses-text">
            <div class="section-heading">Cours de math pour l’agrégation de sciences économiques et sociales</div>
                <h2 style="font-size:25px;">Calendrier 2022-2023 </h2>
                <p class="paragraph-text justify-text">
                     Cours 1 [Mardi 20/9 14h-17h] Notions de fonction, dérivée, intégration et l'étude d'une fonction. <a style="color:#c09c00" href="assets/TD/TD_analyse1.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD/TD_analyse1_corrige.pdf">[Corrigé]</a>
                </p>
                <p class="paragraph-text justify-text">
                     Cours 2 [Mardi 27/9] Probabilités: événements aléatoires, probabilités conditionnelles, variables aléatoires discrètes. Exemples. <a style="color:#c09c00" href="assets/TD/TD_probas1.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD/TD_probas1_corrige.pdf">[Corrigé]</a>
                </p>
                <p class="paragraph-text justify-text">
                     Cours 3 [Mardi 4/10 14h-17h] Résumé des notions fondamentales de matrices. <a style="color:#c09c00" href="assets/TD/TD_algebre1.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD/TD_algebre1_corrige.pdf">[Corrigé]</a>
                </p>
                <p class="paragraph-text justify-text">
                     Cours 4 [Mardi 25/10 14h-17h] Résumé des notions valeurs et vecteurs propres, et la diagonalisation de matrices. <a style="color:#c09c00" href="assets/TD/TD_algebre2.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD/TD_algebre2_corrige.pdf">[Corrigé]</a>
                </p>
                <p class="paragraph-text justify-text">
                     <b><a style="color:#c09c00" href="assets/TD/DM1.pdf">DM Toussaint</a> </b> <b><a style="color:#c09c00" href="assets/TD/DM_corrige.pdf">[Corrigé]</a> </b>
                </p>
                <p class="paragraph-text justify-text">
                     Cours 5 [Mardi 8/11 14h-17h] Couple de variables aléatoires discrètes, lois continues, convergence. <a style="color:#c09c00" href="assets/TD/TD_probas2.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD/TD_probas2_corrige.pdf">[Corrigé]</a>
                </p>
                 <p class="paragraph-text justify-text">
                     Cours 6 [Mardi 15/11 14h-17h] Statistiques descriptives élémentaires. <a style="color:#c09c00" href="assets/TD/TD_stats_1.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD/TD_stats_1_corrige.pdf">[Corrigé]</a>
                </p>
                <p class="paragraph-text justify-text">
                     Cours 7 [Mardi 22/11 14h-17h] Suites récurrentes. Séries. <a style="color:#c09c00" href="assets/TD/TD_analyse2.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD/TD_analyse2_corrige.pdf">[Corrigé]</a>
                </p>
                <p class="paragraph-text justify-text">
                     Cours 8 [Mardi 29/11 14h-17h] Statistiques descriptives multivariées : présentation de données statistiques, ajustement affine, ACP. <a style="color:#c09c00" href="assets/TD/TD_stats_2.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD/TD_stats_2_corrige.pdf">[Corrigé]</a>
                </p>
                <p class="paragraph-text justify-text">
                     <b><a style="color:#c09c00" href="assets/TD/DM2.pdf">DM Nöel (optionnel)</a> <a style="color:#c09c00" href="assets/TD/DM2_corrige.pdf">[Corrigé]</a> </b> 
                </p>
                <p class="paragraph-text justify-text">
                     <a style="color:#c09c00" href="assets/TD/extras-1.pdf">Feuille d'exercices supplémentaire</a> <a style="color:#c09c00" href="assets/TD/extras-1-corrige.pdf">[Corrigé]</a>
                </p>
                
                <p class="paragraph-text justify-text">
                     Cours 9 [Mardi 11/4 14h-17h] Fonctions de plusieurs variables. Optimisation. <a style="color:#c09c00" href="assets/TD/TD_analyse3.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD/TD_analyse3_corrige.pdf">[Corrigé]</a>
                </p>
                
                <p class="paragraph-text justify-text">
                     Cours 10 [Jeudi 13/4 14h-17h] Estimation ponctuelle et par intervalles. <a style="color:#c09c00" href="assets/TD/TD_stats_3.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD/TD_stats_3_corrige.pdf">[Corrigé]</a>
                </p>
                
                <p class="paragraph-text justify-text">
                     Cours 11 [Mardi 18/4 14h-17h] Optimisation de fonctions à deux variables. <a style="color:#c09c00" href="assets/TD/TD_analyse4.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD/TD_analyse4_corrige.pdf">[Corrigé]</a>
                </p>
                
                <p class="paragraph-text justify-text">
                     Cours 12 [Jeudi 20/4 14h-17h] Tests d'hypothèses.  <a style="color:#c09c00" href="assets/TD/TD_stats_4.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD/TD_stats_4_corrige.pdf">[Corrigé]</a>
                </p>
                
                <p class="paragraph-text justify-text">
                     Cours 13 [Mardi 25/4 14h-17h] Développements limités. <a style="color:#c09c00" href="assets/TD/TD_analyse5.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD/TD_analyse5_corrige.pdf">[Corrigé]</a>
                </p>
                
                <p class="paragraph-text justify-text">
                     Cours 14 [Mercredi 26/4 14h-17h] Modèle linéaire (cas de la régression linéaire simple ou multiple).  <a style="color:#c09c00" href="assets/TD/TD_stats_5.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD/TD_stats_5_corrige.pdf">[Corrigé]</a>
                </p>
                
                <p class="paragraph-text justify-text">
                     Cours 15 [Mardi 9/5 14h-17h] Graphes et graphes probabilistes. <a style="color:#c09c00" href="assets/TD/TD_graphes.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD/TD_graphes_corrige.pdf">[Corrigé]</a>
                </p>
                
                <p class="paragraph-text justify-text">
                     Cours 16 [Jeudi 11/5 14h-17h] Modèle linéaire (cont.). Intervalle de fluctuation. <a style="color:#c09c00" href="assets/TD/sujet_OB.pdf">[Sujet OB 21/22]</a> <a style="color:#c09c00" href="assets/TD/sujet_OB_corrige.pdf">[Corrigé]</a>
                </p>

                <h2 style="font-size:25px;">Supports du cours</h2>
                <p class="paragraph-text justify-text">
                 <ul>
                     <li style="font-size:20px;color:white">Livre "Mathématiques et statistiques appliquées à l'économie" par Barnichon et al.</li>
                     <li style="font-size:20px;color:white">Polycopiés : 
                         <a style="color:#c09c00" href="assets/poly/rappels5.pdf">Rappels</a>, 
                         <a style="color:#c09c00" href="assets/algèbre3.3.pdf">Algèbre</a>,  
                         <a style="color:#c09c00" href="assets/poly/analyse3.2.pdf">Analyse</a>,  
                         <a style="color:#c09c00" href="assets/poly/complements-fonctions-de-plusieurs-variables.pdf">Compléments fonctions de plusieurs variables</a>, 
                         <a style="color:#c09c00" href="assets/poly/complements-optimisation.pdf">Compléments optimisation</a>, 
                         <a style="color:#c09c00" href="assets/poly/probas3.3.pdf">Probabilités</a>, 
                         <a style="color:#c09c00" href="assets/poly/statagreg2021.pdf">Statistiques</a>, 
                         <a style="color:#c09c00" href="assets/poly/poly_statistiques_descriptives_elementaires.pdf">Statistiques descriptives élémentaires (nouvelle version)</a>, 
                         <a style="color:#c09c00" href="assets/poly/graphes.pdf">Graphes</a>,
                         <a style="color:#c09c00" href="assets/poly/graphes_prob.pdf">Graphes probabilistes</a>.</li>
                      <li style="font-size:20px;color:white">Manuels Calculatrices : <a style="color:#c09c00" href="assets/calcu/TI82S-manuel.pdf">TI82</a>, <a style="color:#c09c00" href="assets/calcu/CASIO-GRAPH-Manuel.pdf">Casio GRAPH</a>.</li>
                </ul> 
                </p>

                     <li style="font-size:20px;color:white">[Oraux blancs] Anciens sujets et leur corrigés: 
                     <a style="color:#c09c00" href="assets/sujets-orales/sujet1.pdf">sujet 1</a> <a style="color:#c09c00" href="assets/sujets-orales/sujet1_corrige.pdf">[corrigé]</a>,
                     <a style="color:#c09c00" href="assets/sujets-orales/sujet2.pdf">sujet 2</a> <a style="color:#c09c00" href="assets/sujets-orales/sujet2_corrige.pdf">[corrigé]</a>,
                     <a style="color:#c09c00" href="assets/sujets-orales/sujet3.pdf">sujet 3</a> <a style="color:#c09c00" href="assets/sujets-orales/sujet3_corrige.pdf">[corrigé]</a>,
                     <a style="color:#c09c00" href="assets/sujets-orales/sujet4.pdf">sujet 4</a> <a style="color:#c09c00" href="assets/sujets-orales/sujet4_corrige.pdf">[corrigé]</a>
                     </li>
                </ul> 
                </p>

            </div>
        </div>
    </section>
</div>
