<div class="section-wrapper">
    <section class="section agregses" id="agregses">
        <div id="agregses-text">
            <div class="section-heading">Cours de math pour l’agrégation de sciences économiques et sociales</div>
                <h2 style="font-size:30px;">Calendrier 2021-2022 </h2>
                <p class="paragraph-text justify-text">
                     Cours 1 [Jeudi 9/9 9.30h - 12.30h] 
                </p>
                <p class="paragraph-text justify-text">
                     Cours 2 [Jeudi 16/9 9.30h - 12.30h] 
                </p>
                <p class="paragraph-text justify-text">
                     Cours 3 [Jeudi 14/10 9.30h - 12.30h] 
                </p>
                <p class="paragraph-text justify-text">
                     Cours 4 [Mardi 19/10 14h - 17h] 
                </p>
                <h2 style="font-size:30px;">Supports du cours</h2>
            </div>
        </div>
    </section>
</div>
