<div class="section-wrapper">
    <section class="section agregses" id="agregses">
        <div id="agregses-text">
            <div class="section-heading">Cours de math pour l’agrégation de sciences économiques et sociales</div>
                <h2 style="font-size:25px;">Calendrier 2021-2022 </h2>
                <p class="paragraph-text justify-text">
                     Cours 1 [Jeudi 9/9] Matrices: définition, exemples, opérations. Systèmes linéaires. Inversion de matrices. <a style="color:#c09c00" href="assets/agreg-ses-math-td-algebre1.pdf">[TD]</a> <a style="color:#c09c00" href="assets/agreg-ses-math-td-algebre1-corrige.pdf">[Corrigé]</a>
                </p>
                <p class="paragraph-text justify-text">
                     Cours 2 [Jeudi 16/9] Matrices: valeurs et vecteurs propres, diagonalisation. <a style="color:#c09c00" href="assets/agreg-ses-math-td-algebre2.pdf">[TD]</a> <a style="color:#c09c00" href="assets/agreg-ses-math-td-algebre2-corrige.pdf">[Corrigé]</a>
                </p>
                <p class="paragraph-text justify-text">
                     Cours 3 [Jeudi 14/10] Notions de fonction, dérivée, intégration et l'étude d'une fonction. Suites arithmético-géométriques.<a style="color:#c09c00" href="assets/agreg-ses-math-td-analyse1.pdf">[TD]</a> <a style="color:#c09c00" href="assets/agreg-ses-math-td-analyse1-corrige.pdf">[Corrigé]</a>
                </p>
                <p class="paragraph-text justify-text">
                     Cours 4 [Mardi 19/10] Probabilités: événements aléatoires, probabilités conditionnelles, variables aléatoires discrètes, couples de variables aléatoires discrètes, espérance, variance, covariance. Exemples. <a style="color:#c09c00" href="assets/TD_probas1.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD_probas1_corrige.pdf">[Corrigé]</a>
                </p>
                <p class="paragraph-text justify-text">
                     Cours 5 [Mardi 30/11] Lois continues: définition, espérance, variance, lois classiques. Convergence: convergence en probabilité, convergence en loi, loi faible des grands nombres, Théorème Central Limit.   <a style="color:#c09c00" href="assets/TD_probas2.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD_probas2_corrige(1).pdf">[Corrigé]</a>
                </p>
                 <p class="paragraph-text justify-text">
                     Cours 6 [Jeudi 2/12] Statistiques descriptives: introduction, paramètres de position, paramètres de dispersion, paramètres de concentration.  <a style="color:#c09c00" href="assets/TD_stats_1.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD_stats_1_corrige2.pdf">[Corrigé]</a>
                </p>
                <p class="paragraph-text justify-text">
                     Cours 7 [Mardi 14/12] Suites récurrentes et séries.  <a style="color:#c09c00" href="assets/td-analyse2.pdf">[TD]</a> <a style="color:#c09c00" href="assets/td-analyse2-corrige.pdf">[Corrigé]</a>
                </p>
                <p class="paragraph-text justify-text">
                     Cours 8 [Mardi 12/4] Statistiques descriptives multivariées: distributions conjointes, marginales et conditionnelles, moyenne, variances inter et intra, 
                    ajustement affine, matrice de covariance, de corrélation linéaire, analyse en composantes principales, régression linéaire multiple,
                    analyse des correspondances simples.  <a style="color:#c09c00" href="assets/TD_stats_2.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD_stats_2_corrige.pdf">[Corrigé]</a>
                </p>
                  <p class="paragraph-text justify-text">
                     Cours 9 [Jeudi 14/4] Fonctions de plusieurs variables et optimisation.  <a style="color:#c09c00" href="assets/td-analyse3.pdf">[TD]</a> <a style="color:#c09c00" href="assets/td-analyse3-corrige.pdf">[Corrigé]</a>
                </p>
                <p class="paragraph-text justify-text">
                     Cours 9 [Jeudi 21/4] Optimisation de fonctions à deux variables  <a style="color:#c09c00" href="assets/td-analyse4.pdf">[TD]</a> <a style="color:#c09c00" href="assets/td-analyse4-corrige.pdf">[Corrigé]</a>
                </p>
                <p class="paragraph-text justify-text">
                     Cours 10 [Mardi 3/5] Statistique inférentielle: estimation ponctuelle et estimation par intervalle. <a style="color:#c09c00" href="assets/TD_stats_3.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD_stats_3_corrige.pdf">[Corrigé]</a>
                </p>
                <p class="paragraph-text justify-text">
                     Cours 11 [Mardi 3/5] Statistique inférentielle: intervalle de fluctuation et tests d'hypothèses. <a style="color:#c09c00" href="assets/TD_stats_4.pdf">[TD]</a> <a style="color:#c09c00" href="assets/TD_stats_4_corrige.pdf">[Corrigé]</a>
                </p>
            
                <h2 style="font-size:25px;">Supports du cours</h2>
                <p class="paragraph-text justify-text">
                 <ul>
                     <li style="font-size:23px;color:white">Livre "Mathématiques et statistiques appliquées à l'économie" par Barnichon et al.</li>
                     <li style="font-size:23px;color:white">Polycopiés : 
                         <a style="color:#c09c00" href="assets/rappels5.pdf">Rappels</a>, 
                         <a style="color:#c09c00" href="assets/algèbre3.3.pdf">Algèbre</a>,  
                         <a style="color:#c09c00" href="assets/analyse3.2.pdf">Analyse</a>,  
                         <a style="color:#c09c00" href="assets/complements-fonctions-de-plusieurs-variables.pdf">Compléments fonctions de plusieurs variables</a>, 
                         <a style="color:#c09c00" href="assets/complements-optimisation.pdf">Compléments optimisation</a>, 
                         <a style="color:#c09c00" href="assets/probas3.3.pdf">Probabilités</a>, 
                         <a style="color:#c09c00" href="assets/statagreg2021.pdf">Statistiques</a>, 
                         <a style="color:#c09c00" href="assets/poly_statistiques_descriptives_elementaires.pdf">Statistiques descriptives élémentaires (nouvelle version)</a>.</li>
                </ul> 
                </p>
                        <h2 style="font-size:25px;">Oraux blancs</h2>
                <p class="paragraph-text justify-text">
                 <ul>
                     <li style="font-size:23px;color:white">Dates: 10/5, 17/5, 19/5, 24/5.</li>
                     <li style="font-size:23px;color:white">Anciens sujets et leur corrigés: 
                     <a style="color:#c09c00" href="assets/sujet1.pdf">sujet 1</a> <a style="color:#c09c00" href="assets/sujet1_corrige.pdf">[corrigé]</a>,
                     <a style="color:#c09c00" href="assets/sujet2.pdf">sujet 2</a> <a style="color:#c09c00" href="assets/sujet2_corrige.pdf">[corrigé]</a>,
                     <a style="color:#c09c00" href="assets/sujet3.pdf">sujet 3</a> <a style="color:#c09c00" href="assets/sujet3_corrige.pdf">[corrigé]</a>,
                     <a style="color:#c09c00" href="assets/sujet4.pdf">sujet 4</a> <a style="color:#c09c00" href="assets/sujet4_corrige.pdf">[corrigé]</a>
                     </li>
                </ul> 
                </p>

            </div>
        </div>
    </section>
</div>
