<div class="section-wrapper">
    <section class="section research" id="research">
        <div id="research-text">
            <div class="section-heading">Research</div>
                <h2 style="font-size:30px;">International Peer-reviewed Journal Articles</h2>
                <p class="paragraph-text justify-text">
                     M. Gardella, P. Musé, J.-M Morel, M. Colom (2021). <b>Forgery Detection in Digital Images by Multi-Scale Noise Estimation.</b> Journal of Imaging 
                </p>
            </div>
        </div>
    </section>
</div>
