<div class="section-wrapper">
    <section class="section research" id="research">
        <div id="research-text">
            <div class="section-heading">Research</div>
                <h2 style="font-size:30px;">International Peer-reviewed Journal Articles</h2>
                <p class="paragraph-text justify-text">
                     M. Gardella, P. Musé, J.-M Morel, M. Colom (2021). <b>Forgery Detection in Digital Images by Multi-Scale Noise Estimation.</b> Journal of Imaging.
                </p>
                <h2 style="font-size:30px;">International Peer-reviewed Conferences</h2>
                <p class="paragraph-text justify-text">
                     M. Gardella, P. Musé, J.-M Morel, M. Colom (2021). <b>NoiseSniffer: a Full Automatic Image Forgery Detector Based on Noise Analysis.</b> 9th IEEE International Workshop on Biometrics and Forensics (IWBF). 
                </p>
                <h2 style="font-size:30px;">Book Chapters</h2>
                <p class="paragraph-text justify-text">
                    Q. Bammey, M. Colom, T. Ehret, M. Gardella, Rafael Grompone, J.-M Morel, T. Nikoukhah, D. Perraud, <b>"Authentification et insertion de données cachées"<\b>, chapter in "Sécurité multimédia", ISTE Science, 2020.  
                </p>
                <h2 style="font-size:30px;">Talks and Workshops</h2>
                <p class="paragraph-text justify-text">
                    M. Gardella, T. Nikoukhah, Q. Bammey, M. Colom, R. Grompone, J.-M. Morel, P. Musé, D. Teyssou (2021). <b>Détection automatique de la falsification d'images.<\b> Congrès des Jeunes Chercheuses et Chercheurs en Mathématiques Appliquées (CJC-MA) 2021. October 27-29, 2021, École polytechnique, Palaiseau, France.
                </p>
            </div>
        </div>
    </section>
</div>
