<div class="section-wrapper">
    <section class="section research" id="research">
        <div id="research-text">
            <div class="section-heading">Research</div>
                <h2 style="font-size:25px;">International Peer-reviewed Journal Articles</h2>
                 <p class="paragraph-text justify-text">
                    M. Gardella, T. Nikoukhah, Y. Li, Q. Bammey (2022). 
                    <b>The Impact of JPEG Compression on Prior Image Noise.</b> 
                    <i>ICASSP 2022-2022 IEEE International Conference on Acoustics, Speech and Signal Processing</i>. 
                    <a href="https://doi.org/10.1109/ICASSP43922.2022.9746060">[doi:10.1109/ICASSP43922.2022.9746060]</a>
                </p>
                <p class="paragraph-text justify-text">
                    Q. Bammey, T. Nikoukhah, M. Gardella, R. Grompone von Gioi, M. Colom, J.-M. Morel (2022). 
                    <b>Non-Semantic Evaluation of Image Forensics Tools: Methodology and Database.</b> 
                    <i>IEEE/CVF Winter Conference on Applications of Computer Vision</i>. 
                    <a href="https://doi.org/10.1109/WACV51458.2022.00244">[doi:10.1109/WACV51458.2022.00244]</a> 
                    <a href="https://openaccess.thecvf.com/content/WACV2022/papers/Bammey_Non-Semantic_Evaluation_of_Image_Forensics_Tools_Methodology_and_Database_WACV_2022_paper.pdf">[Article]</a>
                </p>
                <h2 style="font-size:25px;">International Peer-reviewed Conferences</h2>
                <p class="paragraph-text justify-text">
                     M. Gardella, P. Musé, J.-M Morel, M. Colom (2021). <b>NoiseSniffer: a Full Automatic Image Forgery Detector Based on Noise Analysis.</b> <i>9th IEEE International Workshop on Biometrics and Forensics (IWBF)</i>. <a href="https://doi.org/10.1109/IWBF50991.2021.9465095">[doi:10.1109/IWBF50991.2021.9465095]</a> <a href="https://hal.archives-ouvertes.fr/hal-03243928/document">[Article]</a>
                     <a href="https://www.iwbf2021.com/" style="color:#c09c00">Best paper award – IWBF 2021.</a>
                </p>
                <p class="paragraph-text justify-text">
                     M. Gardella, P. Musé, J.-M Morel, M. Colom (2021). <b>NoiseSniffer: a Full Automatic Image Forgery Detector Based on Noise Analysis.</b> <i>9th IEEE International Workshop on Biometrics and Forensics (IWBF)</i>. <a href="https://doi.org/10.1109/IWBF50991.2021.9465095">[doi:10.1109/IWBF50991.2021.9465095]</a> <a href="https://hal.archives-ouvertes.fr/hal-03243928/document">[Article]</a>
                     <a href="https://www.iwbf2021.com/" style="color:#c09c00">Best paper award – IWBF 2021.</a>
                </p>
                <h2 style="font-size:25px;">Book Chapters</h2>
                <p class="paragraph-text justify-text">
                    Q. Bammey, M. Colom, T. Ehret, M. Gardella, R. Grompone, J.-M Morel, T. Nikoukhah, D. Perraud, <b>"Authentification et insertion de données cachées"</b>, chapter in "Sécurité multimédia", ISTE Science, 2021. 
                </p>
                <h2 style="font-size:25px;">Talks and Workshops</h2>
                 <p class="paragraph-text justify-text">
                    M. Gardella, T. Nikoukhah, Q. Bammey (2022). <b>Procesamiento de imágenes falsas</b> <i><a href="https://wids.ceibal.edu.uy/">Women in Data Science (WIDS)</a> Montevideo 2022</i>. 
                     April, 2022. <a href="https://youtu.be/3vv396492WY?t=1496">Online presentation recordings (in spanish).</a> 
                </p>
                <p class="paragraph-text justify-text">
                    M. Gardella, T. Nikoukhah, Q. Bammey (2021). <b>Détection automatique de la falsification d'images.</b> <i>Congrès des Jeunes Chercheuses et Chercheurs en Mathématiques Appliquées (CJC-MA) 2021</i>. October 27-29, 2021, École polytechnique, Palaiseau, France.
                </p>
                  <p class="paragraph-text justify-text">
                    M. Gardella et al. (2021). <b>Enhanced Image Forensic Tools for Fact-Checkers.</b> <i><a href="https://truthandtrustonline.com">Conference for Truth and Trust Online (TTO) 2021</a></i>. October 7 and 8, 2021. Online.
                </p>
               <p class="paragraph-text justify-text">
                    M. Gardella (2017). <b>Estimation of the  Inflationary feedback coefficient in Uruguay 1985-2017</b>. <i>IV Conference in applied statistics</i>. October 2017. La Paloma, Uruguay. <a href="https://www.maren.cure.edu.uy/wp-content/uploads/2017/11/12_Gardella-Viernes.pdf">[Presentation]</a>
                </p>
            </div>
        </div>
    </section>
</div>
