
<div class="section-wrapper">
    <section class="section teaching" id="teaching">
        <div id="teaching-text">
            <div class="section-heading">Teaching</div>
                <p class="paragraph-text justify-text">
                     [September 2020 - Present] Teaching assistant at the <a href="https://www.iut-sceaux.universite-paris-saclay.fr/">Institut Universitaire de Technologie de Sceaux, Université Paris-Saclay</a>. Courses taught:<ul>
                        <li>Méthodologie - Logique Mathématique</li>
                        <li>Statistiques et probabilités appliquées</li>
                      </ul> 
                </p>
                <p class="paragraph-text justify-text">
                     [February 2014 - February 2019] Teaching assistant at the <a href="https://www.fing.edu.uy/es/imerl/inicio">Department of Mathematics</a>, <a href="https://www.fing.edu.uy">School of Engineering</a>, <a href="https://udelar.edu.uy/">Universidad de la República</a>. Courses taught:<ul>
                        <li>Geometry and Linear Algebra 1</li>
                        <li>Geometry and Linear Algebra 2</li>
                        <li>Calculus 2</li>
                        <li>Analysis on Manifolds</li>
                        <li>Numerical analysis</li>
                        <li>Probability and Statistics</li>
                      </ul> 
                </p>
            
            
                <h2 style="font-size:30px;">Supervision</h2>

            </div>
        </div>
    </section>
</div>
