
<div class="section-wrapper">
    <section class="section teaching" id="teaching">
        <div id="teaching-text">
            <div class="section-heading">Teaching</div>
                <u1>
                     <li style="font-size:20px">[September 2020 - August 2021] Teaching assistant at the <a href="https://www.iut-sceaux.universite-paris-saclay.fr/">Institut Universitaire de Technologie de Sceaux, Université Paris-Saclay</a>. Courses taught:
                      <ul>
                        <li style="font-size:20px">Méthodologie - Logique Mathématique</li>
                        <li style="font-size:20px">Statistiques et probabilités appliquées</li>
                      </ul> </li>
               
                     <li style="font-size:20px">[February 2014 - February 2019] Teaching assistant at the <a href="https://www.fing.edu.uy/es/imerl/inicio">Department of Mathematics</a>, <a href="https://www.fing.edu.uy">School of Engineering</a>, <a href="https://udelar.edu.uy/">Universidad de la República</a>. Courses taught:<ul>
                        <li style="font-size:20px">Geometry and Linear Algebra 1</li>
                        <li style="font-size:20px">Geometry and Linear Algebra 2</li>
                        <li style="font-size:20px">Calculus 2</li>
                        <li style="font-size:20px">Analysis on Manifolds</li>
                        <li style="font-size:20px">Numerical analysis</li>
                        <li style="font-size:20px">Probability and Statistics</li>
                      </ul> </li>
                      <li style="font-size:20px">[February 2015 - July 2016] Teaching assistant at the <a href="https://http://fcea.edu.uy/depto-met-cuant-inicion.html">Department of Mathematics</a>, <a href="https://www.fcea.edu.uy">School of Economics</a>, <a href="https://udelar.edu.uy/">Universidad de la República</a>. Courses taught:<ul>
                        <li style="font-size:20px">Calculus</li>
                      </ul> </li>
                      <li style="font-size:20px">[May 2013 - July 2013] Teaching assistant at the <a href="https://http://cmat.edu.uy/">Department of Mathematics</a>, <a href="https://www.fcien.edu.uy">School of Sciences</a>, <a href="https://udelar.edu.uy/">Universidad de la República</a>. Courses taught:<ul>
                        <li style="font-size:20px">Geometry and Linear Algebra 1</li>
                      </ul> </li>
                </u1>

            
            
                <h2 style="font-size:30px;">Supervision</h2>
                    <ul>
                        <li style="font-size:20px">Bachelor supervisor (as <i>encadrant junior</i>, together with <a href="https://mcolom.perso.math.cnrs.fr/">Miguel Colom</a>) of Enguérand Chary and Syrine Kalleli; Centre Borelli, ENS Paris-Saclay, 2020.</li>
                    </ul>
            </div>
        </div>
    </section>
</div>
